@use "~/scss/colors" as *;
@use "~/scss/variables" as *;

html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Noto Sans", sans-serif;
    font-variation-settings:
    "wdth" 100;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $lightgray150;
    text-size-adjust: 100%;

    background: $darkgray950;
}

*,
*::before,
*::after {
    scrollbar-color: $darkgray800 var(--bg-color, $darkgray1000);
    scrollbar-width: thin;
    box-sizing: border-box;
}

/*
Source - https://stackoverflow.com/a/4407335
Posted by Blowsie, modified by community. See post 'Timeline' for change history
Retrieved 2026-06-09, License - CC BY-SA 4.0
*/

.noselect { /* Safari */ /* Konqueror HTML */ /* Old versions of Firefox */ /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

    -webkit-touch-callout: none; /* iOS Safari */
}